@use './color-variables.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $gray-900;
  background-color: $background-light;
  overflow-x: hidden;

  @media (max-width: 743px) {
    background-color: $background-dark;
  }
}