@import '../../../../app/styles/index.scss';

.search-form {
  width: 848px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-300;
  border-radius: 50px;
  position: relative;

  &.blurred {
    background-color: $gray-200;
  }

  @media (max-width: 929px) {
    width: calc(847px - (929px - 100vw));
  }

  .search-field {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 14px 24px;
    position: relative;

    &.active {
      background-color: $background-light;
      z-index: 1;
      pointer-events: auto;
    }

    &.active:hover {
      background-color: $background-light;
    }

    &:not(.active):hover {
      background-color: $gray-300;
    }

    &:hover {
      background-color: $gray-200;
    }

    &.location,
    &.guests {
      width: 280px;

      @media (max-width: 929px) {
        width: calc(280px - ((929px - 100vw) * 0.324));
      }
    }

    &.arrival,
    &.departure {
      width: 140px;

      @media (max-width: 929px) {
        width: calc(140px - ((929px - 100vw) * 0.1595));
      }
    }

    .label {
      font-size: $font-size-xs;
      color: $gray-900;
      font-weight: $font-weight-medium;
      line-height: $line-height-sm;
    }
  
    .input {
      border: none;
      outline: none;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      line-height: $line-height-xs;
      color: $gray-900;
      background-color: transparent;
      text-overflow: ellipsis;

      &::placeholder {
        color: $gray-500;
      }
    }

    .dropdown-list {
      padding: 24px 16px;
      list-style: none;

      .dropdown-item {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        gap: 16px;

        .dropdown-img {
          background-color: $gray-300;
          width: 48px;
          height: 48px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .dropdown-text {
          width: 289px;
          height: 40px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .search-button {
    position: absolute;
    right: 8px;
    background-color: $primary-500;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;

    &:hover {
      background-color: $primary-600;
    }
  }
}